<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".MusicPlayerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/music_player"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.WelcomeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Welcome.LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.shell.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.theme.ThemeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard" />

        <activity
            android:name=".ui.theme.ThemeEditActivity"
            android:configChanges="keyboardHidden|keyboard" />

        <activity
            android:name=".feature.library.AlbumActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.library.AlbumMusicActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.selection.MusicEditActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.selection.ActivityMusicSelect"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.playlist.ActivityPlaylistSelect"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.selection.MusicSetEditActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.search.SearchActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".feature.scan.ScanMusicActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.duplicate.ActivityDuplicatedFinder"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.equalizer.EqualizerActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.equalizer.EffectGroupActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.tags.EditTagsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.library.ArtworkCropActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.editor.ActivityAudioEditor"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.widget.WidgetActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.widget.WidgetConfigActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.sleep.SleepActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.drivemode.DriveModeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.drivemode.DriveRemindActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.setting.SettingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.lyrics.ActivityStatusBarLyrics"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.lock.LockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:taskAffinity="" />

        <activity
            android:name=".feature.player.ActivityPlayQueue"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.hidden.HiddenFoldersActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.hidden.HiddenFoldersAddActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <service
            android:name=".playback.MusicPlayService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".feature.widget.WidgetQueueService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".playback.MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".feature.widget.provider.Widget2x1Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x1" />
        </receiver>

        <receiver
            android:name=".feature.widget.provider.Widget3x2Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_3x2" />
        </receiver>

        <receiver
            android:name=".feature.widget.provider.Widget4x1Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1" />
        </receiver>

        <receiver
            android:name=".feature.widget.provider.Widget4x2Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x2" />
        </receiver>

        <receiver
            android:name=".feature.widget.provider.Widget4x3Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x3" />
        </receiver>

        <receiver
            android:name=".feature.widget.provider.Widget4x4Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x4" />
        </receiver>

        <receiver
            android:name=".feature.widget.provider.WidgetListProvider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_list" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>
