<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".MusicPlayerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/music_player"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.WelcomeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Welcome.LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.shell.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.theme.ThemeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard" />

        <activity
            android:name=".ui.theme.ThemeEditActivity"
            android:configChanges="keyboardHidden|keyboard" />

        <activity
            android:name=".ui.library.albums.AlbumActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.library.albums.AlbumMusicActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.shortcut.MusicSetShortcutActivity"
            android:theme="@style/AppTheme.Empty"
            android:exported="true"
            android:launchMode="singleTop"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.selection.MusicEditActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.selection.MusicSelectActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.playlist.PlaylistSelectActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.selection.MusicSetEditActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.scan.ScanMusicActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.scan.ScanSettingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.library.deleted.DeletedMusicActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.duplicate.DuplicateFinderActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.equalizer.EqualizerActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.equalizer.EffectGroupActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.tags.EditTagsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.lyrics.LyricEditActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.lyrics.LyricListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.lyrics.LrcBrowserActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.library.artwork.ArtworkCropActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.editor.AudioEditorActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.widget.WidgetActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.widget.WidgetConfigActivity"
            android:theme="@style/AppTheme.WidgetConfig"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.sleep.SleepActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.drivemode.DriveModeActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".ui.drivemode.DriveRemindActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.lyrics.StatusBarLyricsActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.lock.LockActivity"
            android:theme="@style/AppTheme.Lock"
            android:taskAffinity="${applicationId}.LOCK"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            tools:targetApi="27" />

        <activity
            android:name=".ui.player.full.MusicPlayActivity"
            android:theme="@style/AppTheme.Transparent"
            android:label="@string/music_player"
            android:exported="false"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|keyboard" />

        <activity
            android:name=".ui.player.queue.PlayQueueActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.library.hidden.HiddenFoldersActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.library.hidden.HiddenFoldersAddActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <service
            android:name=".playback.service.MusicPlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.widget.WidgetQueueService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".playback.MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.widget.provider.Widget2x1Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x1" />
        </receiver>

        <receiver
            android:name=".ui.widget.provider.Widget3x2Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_3x2" />
        </receiver>

        <receiver
            android:name=".ui.widget.provider.Widget4x1Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1" />
        </receiver>

        <receiver
            android:name=".ui.widget.provider.Widget4x2Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x2" />
        </receiver>

        <receiver
            android:name=".ui.widget.provider.Widget4x3Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x3" />
        </receiver>

        <receiver
            android:name=".ui.widget.provider.Widget4x4Provider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x4" />
        </receiver>

        <receiver
            android:name=".ui.widget.provider.WidgetListProvider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_list" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>
